/** No CSS for this example */
.mat-tooltip {
  font-size: 15px;
  background: green;
}

.example-tooltip-red {
background: #ff0000;
}

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 380px;
      background-color: whitesmoke;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      border-color: 1px solid grey;
      white-space: pre;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
